<ion-header style="box-shadow: none; border: none;">
  <ion-navbar style="box-shadow: none;">
    <ion-title style="text-align: center;box-shadow: 0px;border:none;">
      <img src="../assets/imgs/logo2.png" style="width:70%; margin-top: 5px;margin-bottom: 0px;">
    </ion-title>
  </ion-navbar>
</ion-header>

<!--news feed section-->
<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
<ion-content id="news-feed-content">


    <div class="news-item">

        <!--header section-->
        <div class="row header">
            <div class="col-20">
                <img src="../assets/imgs/Lokasi.png" class="user-img"/>
            </div>
        </div><!--end header section-->

        <!--detail section-->
        <div class="row detail">
            <div class="col">
                <h1>
                    Masukkan Lokasi Anda
                </h1>

                <p class="content">
                    Masukkan lokasi dimana anda berada dan memulai perjalanan 
                </p>

            </div>
        </div>

    </div>

    <div class="news-item">

        <!--header section-->
        <div class="row header">
            <div class="col-20">
                <img src="../assets/imgs/Tujuan.png" class="user-img"/>
            </div>
        </div><!--end header section-->

        <!--detail section-->
        <div class="row detail">
            <div class="col">
                <h1>
                    Tentukan Tujuan
                </h1>

                <p class="content">
                    Tentukan dan pilih kemana lokaasi yang akan anda kunjungi
                </p>

            </div>
        </div>

    </div>

    <div class="news-item">

        <!--header section-->
        <div class="row header">
            <div class="col-20">
                <img src="../assets/imgs/Tanggal.png" class="user-img"/>
            </div>
        </div><!--end header section-->

        <!--detail section-->
        <div class="row detail">
            <div class="col">
                <h1>
                    Pilih Tanggal
                </h1>

                <p class="content">
                    Tentukan tanggal yang anda pilih sebagai tanggal keberangkatan anda
                </p>

            </div>
        </div>

    </div>

    <div class="news-item">

        <!--header section-->
        <div class="row header">
            <div class="col-20">
                <img src="../assets/imgs/Travel.png" class="user-img"/>
            </div>
        </div><!--end header section-->

        <!--detail section-->
        <div class="row detail">
            <div class="col">
                <h1>
                    Cari Travel
                </h1>

                <p class="content">
                    Ketika telah memasukkan lokasi,tujuan,dan tanggal keberangkatan mulai lakukan pencarian dengan kli
                </p>

            </div>
        </div>

    </div>

    <div class="row"></div>
</ion-content><!--end news feed section-->

