<link rel="stylesheet" href="../../assets/css/style.css">
<link rel="stylesheet" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/javascript" href="../../assets/js/bootstrap.js">
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mulai Perjalanan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
      <div class="sub-header" style="text-align: center;"><b>Mulai Perjalanan</b></div><br>
      <div class="foto" style="width: 100%; height: 150px;">
        <img src="../../assets/imgs/flat.png" style="width:50%;height:150px;margin-left:auto;margin-right:auto;left:0;right:0;position:absolute;"><br>
      </div>
      <br>

      <div class="form-group">
        <label>Dari</label>
        <input type="text" class="form-control" id="dari" placeholder=" Malang , Batu , Kediri">
      </div>
      <div class="form-group">
        <label>Ke</label>
        <input type="text" class="form-control" id="ke" placeholder=" Malang , Batu , Kediri">
      </div>
      <div class="form-group">
        <label>Tanggal</label>
        <input type="date" class="form-control" id="tanggal">
      </div>
      <button type="button" class="btn btn-primary" style="width: 100%; background-color: #4F92FF; border-color: #4F92FF"> Cari </button><br><br>
      <button type="button" class="btn btn-primary" style="width: 100%; background-color: #4F92FF; border-color: #4F92FF"> Berpergian ? Cari Travel Sekarang </button>
      <div class="footer" style="text-align: center;"><br>
        Berbagi Transportasi Meningkatkan Setiap <br/> perjalanan
      </div>

  </form>



</ion-content>