<link href="../assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../assets/css/font-awesome.min.css" rel="stylesheet">
<link href="../assets/css/font-awesome.css" rel="stylesheet">
<ion-header style="background-color: #2e75e8;">
  <ion-navbar style="background-color: #2e75e8;">
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: left;box-shadow: 0px;border:none;">
      <img src="../assets/imgs/logo3.png" style="width:30%; margin-top: 5px;margin-left: -10px; margin-bottom: 0px;">
    </ion-title>
    
  </ion-navbar>
  <button menuToggle class="btn btn-info" style="background: #2e75e8;border: none;">
    <ion-icon name="menu" style="color: #ffffff;font-size: 22px; box-shadow: 0px !;border: none !important;"></ion-icon>
  </button>
  <a style="color: #ffffff;font-weight: bold;float: right;font-size: 12px;padding: 10px; text-align: right;text-decoration: none;">
    Berpergian?
  </a>
</ion-header>

  <div class="slidehead" style="height: 250px;border-bottom: 0.3px solid #000;box-shadow: 2px 0px 5px;">
    <ion-slides pager autoplay="3000" loop="true" speed="2000">
      <ion-slide *ngFor="let image of ImageArray">
        <img src="{{image.image}}">
      </ion-slide>
    </ion-slides>
    <div style="background-color: #2e75e8;padding-top: 5px;"></div> 
  </div>

  <div class="col-lg-12 inputhome">

      <div class="form-group">
          <label style="font-weight: normal;">Penjemputan</label>
          <input type="text" class="form-control input-sm" id="Dari" placeholder=" Malang , Batu , Kediri">
        </div>
  
  
        <div class="form-group">
          <label style="font-weight: normal;">Tujuan</label>
          <input type="text" class="form-control input-sm" id="ke" placeholder=" Malang , Batu , Kediri">
        </div>

        <button type="button" class="btn btn-primary" style="width: 100%; background-color: #2e75e8; border-color: #2e75e8;"> Cari Travel </button>

  </div>

  