<link rel="stylesheet" href="../../assets/css/style.css">
<link rel="stylesheet" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/javascript" href="../../assets/js/bootstrap.js">
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detail Kontak</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
      <div class="sub-header" style="text-align: center;"><b>Datail Kontak</b></div><br>

      <div class="form-group">
        <label>Nama Panjang</label>
        <input type="text" class="form-control" id="namapanjang">
      </div>
      <div class="form-group">
        <label>Nomor Telepon</label>
        <input type="text" class="form-control" id="telp">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" id="email">
      </div>
      <button type="button" class="btn btn-primary" style="width: 100%; background-color: #4F92FF; border-color: #4F92FF"> Lanjut </button><br><br>
  </form>



</ion-content>