page-hubungi-kami {
.utama{
    width:100%;
    height:170px;
    margin-top: -20px;
    background-image:url(../../assets/imgs/1.png); 
    background-size:cover;
}
.utama h2{
    font-size: 18pt;
    color: white;
    padding-top: 50px;
    text-align: center;
}
.utama a{
    font-size: 14pt;
    color: white;
    text-align: center;
}
}
