<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="utama">
    <h2>Hubungi Kami</h2>
    <a>Kami Siap Membantu Anda</a>
  </div>

</ion-content>
