page-travel-partner {
    .kotak{
        width: 96%;
        height: 200px;
        border: 1px solid #ccc;
        margin-left: 2%;
        box-shadow: 0 2px 3px rgba(0,0,0,0.10), 0 2px 4px rgba(0,0,0,0.20);
    }
    .pat{
        margin: 10px 0px;
    }

    .ukuran{
        width: 100%;
        padding-top: 10px;
        height: 150px;
    }
}
