<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Travel Partner</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="pat">
          <ion-col class="kotak">
              <img src="../../assets/imgs/pat.png" class="ukuran">
              <p style="text-align:center;">Travel Maju</p>
          </ion-col>
          <ion-col class="kotak">
              <img src="../../assets/imgs/pat2.png" class="ukuran">
              <p style="text-align:center;">Travel Maju</p>
          </ion-col>
        </ion-row>

        <ion-row class="pat">
            <ion-col class="kotak">
                <img src="../../assets/imgs/pat3.png" class="ukuran">
                <p style="text-align:center;">Travel Maju</p>
            </ion-col>
            <ion-col class="kotak">
                <img src="../../assets/imgs/pat.png" class="ukuran">
                <p style="text-align:center;">Travel Maju</p>
            </ion-col>
          </ion-row>

          <ion-row class="pat">
              <ion-col class="kotak">
                  <img src="../../assets/imgs/pat2.png" class="ukuran">
                  <p style="text-align:center;">Travel Maju</p>
              </ion-col>
              <ion-col class="kotak">
                  <img src="../../assets/imgs/pat3.png" class="ukuran">
                  <p style="text-align:center;">Travel Maju</p>
              </ion-col>
            </ion-row>
      </ion-grid>
</ion-content>