<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<!--View Information-->
<!--View name : NEWS Feed-->
<!--State name : app.newsFeed-->
<!--URL : #app/newsFeed-->

<!--news feed section-->
<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
<ion-content id="news-feed-content">

    <div class="news-item">

        <!--header section-->
        <div class="row header">
            <div class="col-20">
            </div>
            <div class="col-80">
               <span class="name">
               </span>
                <br/>
               <span class="datetime">
               </span>
            </div>
        </div><!--end header section-->

        <!--detail section-->
        <div class="row detail">
            <div class="col">
                <h1>
                    Tentang Kami
                </h1>

                <p class="content">
                    Jemput.in dimiliki dan dioperasikan oleh Grup Perusahaan jemput.in ("jemput.in" atau "Kami"). Kebijakan Privasi ini menjelaskan bagaimana kami mengumpulkan, menggunakan, menyingkapkan, memproses dan melindungi informasi pribadi yang teridentifikasi ("Data Pribadi") yang Anda ("Pengguna") dapat berikan sehubungan dengan layanan jemput.inyang tersedia melalui situs web di www.jemput.in.com ("Situs"). Data Pribadi berarti data, apakah benar atau tidak, tentang seorang individu yang dapat diidentifikasi dari data tersebut, atau dari data dan informasi lainnya yang aksesnya dimiliki atau mungkin dimiliki organisasi. Referensi ke Situs dianggap mencakup turunan daripadanya, termasuk namun tidak harus terbatas pada situs web mobile dan aplikasi. Dengan mengunjungi atau menggunakan Situs, Anda sepakat dan menyetujui pengumpulan, penggunaan, penyingkapan dan pemrosesan Data Pribadi Anda sesuai dengan Kebijakan Privasi ini dan/atau Persyaratan Situs Web. Jika Anda tidak setuju dengan Kebijakan Privasi di bawah ini, silakan segera tinggalkan Situs.
                </p>

            </div>
        </div>

    </div>

    <div class="news-item">

        <!--header section-->
        <div class="row header">
            <div class="col-20">
            </div>
            <div class="col-80">
               <span class="name">
               </span>
                <br/>
               <span class="datetime">
               </span>
            </div>
        </div><!--end header section-->

        <!--detail section-->
        <div class="row detail">
            <div class="col">
                <h1>
                    1. Informasi yang Kami Kumpulkan
                </h1>

                <p class="content">
                    Kami mengumpulkan Data Pribadi mengenai Anda yang diberikan kepada kami saat menggunakan Situs. Data Pribadi tersebut termasuk namun tidak terbatas pada nama Anda, identifikasi pengguna jemput.indan kredensial login, alamat, nomor telepon, alamat e-mail, nama hotel, lokasi hotel dan/atau lama tinggal. Kami dapat meminta Anda untuk memberikan informasi tentang preferensi perjalanan Anda, keanggotaan frequent flyer maskapai, dan masukan tentang pengalaman perjalanan melalui pemesanan jemput.inAnda. Kami juga mengumpulkan informasi non-pribadi yang teridentifikasi (yang tidak dapat digunakan untuk mengidentifikasi Anda), termasuk namun tidak terbatas pada alamat protokol internet ("IP") Anda, data lokasi geografis, jenis sistem pengoperasian, kebangsaan, preferensi pencarian, begitu pula data umum lainnya terkait penggunaan Internet.
                </p>

            </div>
        </div>

    </div>

    <div class="news-item">

        <!--header section-->
        <div class="row header">
            <div class="col-20">
            </div>
            <div class="col-80">
               <span class="name">
               </span>
                <br/>
               <span class="datetime">
               </span>
            </div>
        </div><!--end header section-->

        <!--detail section-->
        <div class="row detail">
            <div class="col">
                <h1>
                    2.  Bagaimana Kami Menggunakan Informasi Anda
                </h1>

                <p class="content">
                    Kami dapat menggunakan Data Pribadi Anda dan informasi lainnya yang dikumpulkan melalui Situs, baik di Singapura atau di luar negeri, untuk tujuan berikut:
                </p>
                <p class="content">
                    - mendaftar, mengelola dan/atau mengurus penggunaan dan/atau akses Situs;
                </p>

                <p class="content">
                    - mengelola, mengoperasikan, mengurus dan memberikan Anda layanan yang ditawarkan di Situs
                </p> 

                <p class="content">
                    - menghubungi Anda mengenai hal-hal yang berkaitan dengan penggunaan Anda dan/atau akses Situs serta layanan di Situs, dan setiap pertanyaan dan/atau permintaan yang diajukan oleh Anda melalui Situs atau sebaliknya;
                </p> 

                <p class="content">
                    - menyesuaikan pengalaman Anda saat menggunakan Situs;
                </p>

                <p class="content">
                    - mengukur dan meningkatkan pengalaman dan kepuasan pelanggan;
                </p>
            </div>
        </div>

    </div>

    <div class="row"></div>
</ion-content><!--end news feed section-->
