<link href="../assets/css/animate.css" rel="stylesheet">
  <ion-slides pager>

    <ion-slide style="background-color: ghostwhite">
      <div class="coba" style="padding-top: 100px;padding-bottom: 0px;text-align: center;">

                <img class="animated bounceInDown" src="../assets/imgs/logo2.png" style="width: 60%;animation-duration:2s;margin-bottom: 100px;">
                <h3 style="color: #2196f3;animation-delay: 2s; font-weight: bold;" class="animated fadeIn">Selamat Datang</h3>
                <h5 style="font-weight: normal; margin-top: -5px; font-family: Roboto, sans-serif;color: #2196f3;animation-delay: 3s;font-size: 16px;" class="animated fadeIn">Kami menyediakan travel untuk anda!</h5>
            </div>
            
    </ion-slide>

    <ion-slide style="background-color: white">
      <div class="coba" style="padding-top: 100px;padding-bottom: 0px;text-align: center;">
                <div style="height: 155px;">
                <img class="wow bounceInDown infinite" src="../assets/imgs/svg-search.gif" style="width: 30%;animation-duration:2s;margin-bottom: 100px;">
                </div>
                <h4 style="color: #2196f3;animation-delay: 2s; font-weight: bold;" class="animated fadeIn">Masukkan Lokasi dan Tujuan Anda</h4>
                <h5 style="font-weight: normal; margin-top: -5px; font-family: Roboto, sans-serif;color: #2196f3;animation-delay: 3s;font-size: 16px;" class="animated fadeIn">Tentukan kemana anda pergi</h5>
      </div>
    </ion-slide>

    <ion-slide style="background-color: ghostwhite">
      <div class="coba" style="padding-top: 100px;padding-bottom: 0px;text-align: center;">
                <div style="height: 155px;">
                <img class="wow bounceInDown infinite" src="../assets/imgs/calender.gif" style="width: 30%;animation-duration:2s;margin-bottom: 100px;">
                </div>
                <h4 style="color: #2196f3;animation-delay: 2s; font-weight: bold;" class="animated fadeIn">Tentukan Tanggal Keberangkatan</h4>
                <h5 style="font-weight: normal; margin-top: -5px; font-family: Roboto, sans-serif;color: #2196f3;animation-delay: 3s;font-size: 16px;" class="animated fadeIn">Rencanakan keberangkatan travel</h5>
      </div>
    </ion-slide>

     <ion-slide style="background-color: white">
      <div class="coba" style="padding-top: 100px;padding-bottom: 0px;text-align: center;">
                <div style="height: 155px;">
                <img class="wow bounceInDown infinite" src="../assets/imgs/car.gif" style="width: 30%;animation-duration:2s;margin-bottom: 100px;">
                </div>
                <h5 style="color: #2196f3;animation-delay: 2s; font-weight: bold;" class="animated fadeIn">Temukan Travel Yang Anda Inginkan</h5>
                <h5 style="font-weight: normal; margin-top: -5px; font-family: Roboto, sans-serif;color: #2196f3;animation-delay: 3s;font-size: 16px;" class="animated fadeIn">Perjalanan anda dijamin memuaskan</h5>
                <button ion-button  (click)="toHome()">Lanjut</button>
      </div>
    </ion-slide>

  </ion-slides>
