<link rel="stylesheet" href="../../assets/css/style.css">
<link rel="stylesheet" href="../../assets/css/bootstrap.css">
<script type="text/javascript" href="../../assets/css/bootstrap.js"></script>
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Berpergian</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form style="">
      <div class="sub-header" style="text-align: center;"><b>Rencana Perjalanan</b></div><br>
      <div class="foto" style="width: 100%;height: 150px;">
        <img src="../../assets/imgs/flat.png" style="width:50%;height:150px;left: 0;right: 0;margin-right: auto;margin-left: auto;position: absolute;" ><br>
      </div>

      <div class="form-group">
        <label>Dari</label>
        <input type="text" class="form-control" id="Dari" placeholder=" Malang , Batu , Kediri">
      </div>


      <div class="form-group">
        <label>Ke</label>
        <input type="text" class="form-control" id="ke" placeholder=" Malang , Batu , Kediri">
      </div>


      <div class="form-group">
        <label>Fasilitas</label>
        <select class="form-control">
          <option>Mobil + Sopir</option>
          <option>Mobil + Supir + BBM</option>
        </select>
      </div>

      <div class="form-group">
        <label>Penumpang</label>
        <input type="number" class="form-control" id="penumpang" placeholder="Jumlah Penumpang">
      </div>

      <div class="form-group">
        <label>Kota Yang Dituju</label>
        <input type="text" class="form-control" id="kota" placeholder=" Malang-Batu-Kediri">
      </div>

      <div class="form-group">
        <label>Tanggal</label>
        <input type="date" class="form-control" id="tanggal">
      </div>

      <div class="form-group">
        <label>Jam</label>
        <input type="text" class="form-control" id="jam">
      </div>
      <button type="button" class="btn btn-primary" style="width: 100%; background-color: #4F92FF; border-color: #4F92FF"> Cari </button>
  </form>
</ion-content>

