<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<!--news feed section-->
<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
<ion-content id="news-feed-content">

    <div class="news-item">

        <!--header section-->
        <div class="row header">
            <div class="col-20">
            </div>
            <div class="col-80">
               <span class="name">
               </span>
                <br/>
               <span class="datetime">
               </span>
            </div>
        </div><!--end header section-->

        <!--detail section-->
        <div class="row detail">
            <div class="col">
                <h1>
                    Tentang Kami
                </h1>

                <p class="content">
                    Jemput.in adalah website resmi travel di Indonesia khususnya Jawa Timur yang memungkinkan Anda mencari travel hingga ke bagian fasilitas secara mendetail dengan fitur Jemput.in. Selain itu, Anda dapat memilih jenis travel sesuai dengan kebutuhandan banyaknya biaya yang Anda miliki saat itu. Disini, Anda akan menerima service sesuai dengan biaya yang Anda keluarkan. 
                </p>

            </div>
        </div>

    </div>

    <div class="news-item">

        <!--header section-->
        <div class="row header">
            <div class="col-20">
            </div>
            <div class="col-80">
               <span class="name">
               </span>
                <br/>
               <span class="datetime">
               </span>
            </div>
        </div><!--end header section-->

        <!--detail section-->
        <div class="row detail">
            <div class="col">
                <h1>
                    Keuntungan Memilih Kami ?
                </h1>

                <p class="content">
                    Setelah mencari, anda akan menemukan travel terbaik yang sesuai dengan kebutuhan dan jumlah biaya yang anda siapkan.Disini, Anda juga akan menerima pelayanan terbaik dari Jemput.in, meliputi fasilitas yang memadai, pelayanan yang baik, dan Anda akan merasa nyaman dengan semua yang diberikan oleh Jemput.in. Disini, Anda juga akan diberi kenyamanan penuh dari Jemput.in.
                </p>

            </div>
        </div>

    </div>

    <div class="row"></div>
</ion-content><!--end news feed section-->

